<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Welcome to BlogVista - Your Window to the Blogosphere!</p>
    <br>
    <p>At BlogVista, we're passionate about the art of storytelling and knowledge-sharing. Our vision: to create a space where writers and readers from all walks of life can connect, explore, and celebrate the magic of words.</p>
    <br>
    <p>We believe that everyone has a unique story to tell, and BlogVista is the canvas where these stories come to life. </p>
    <br>
    <br>
    <p>Happy Blogging!</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>